/* Make the body and html fill the whole viewport */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.endfooter {
    background-color: #EB0000;
}

/* Main container where the video is */
.main {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

/* Style for the footer */
.bottom {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
}

/* Set a specific height for the navbar to leave space for the logo ribbon */
.navbar {
    position: relative;
    z-index: 10;
}


.bg-nav {
    /* background-color: #E2DDCC; */
    background-color: white;
}

.custom-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.title-text {
    color: #EB0000;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 400%;
}

.logo-text {
    color: #EB0000;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    text-decoration: none;
}


.search-box-row {
    background-color: #F5F1E7;
}

.search-container {
    position: relative;
}

.search-input {
    height: 50px;
    border-radius: 30px;
    padding-left: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button_image {
    height: 100vh;
    display: block;
    margin: auto;
    z-index: 0;
}


.buttons-row {
    margin-inline: 10%;
}

.back {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 10vh;
    
}

.form-container {
    text-align: center;
}

.log-in-bg {
    background-color: #ffffff;
    overflow: hidden;
}

#top, #bottom, #left, #right {
	background: #F5F1E7;
	position: fixed;
    z-index: 1;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 5px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 5px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

/* //////////////////////////////////////////// */

.flip-card-container {
    perspective: 1000px;
    width: 100%;
    height: 100vh;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
}


.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.flip-card-front {
    z-index: 2;
}

.flip-card-back {
    z-index: 1;
    background-color: #ffffff;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.liked-box {
    border-radius: 10%;
    height: 80vh;
    width: 80vh;
    background-color: #F5F1E7;
    margin-bottom: 10vh;
    overflow-y: scroll;
}

.top-box {
    height: 35vh;
    background-color: #F5F1E7;
    margin-bottom: 10vh;
    width: 80vh;
    border-radius: 4%;
    
}
.bottom-box {
    height: 35vh;
    background-color: #F5F1E7;
    margin-bottom: 10vh;
    width: 80vh;
    border-radius: 4%;
    align-content: center;
    justify-content: center;
}

.log-out-button {
    width: 100%; 
    height: 30%;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: white;
}

.profile_table {
    width: 80%;
    padding: 10%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Adds space between tables */
}

.profile_table th, .profile_table td {
    border: 1px solid;
    padding: 10px;
    text-align: left;
}

.btn-custom {
    background-color: rgb(205, 205, 205);
}

.btn-white {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* add shadow */
    width: 100%; 
    text-align: center; 
    display: inline-block; 
}

.btn-white:hover {
    background-color: rgb(245, 245, 245); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}