<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Pokemon{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="https://img.pokemondb.net/artwork/avif/pikachu.avif">   
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">   
    <script type="module" src="static/myscripts.js"></script>
</head>
<body>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->

    <!-- Link to the external JavaScript file -->
    <!-- <script src="static/myscripts.js"></script> -->
    {% block content %}

    {% endblock %}
</body>
</html>