{% extends "_layout3.html" %}
{% block content %}
<div class="log-in-bg">
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    <div class="container log-in-bg">
        <a href="/"><img class="back" src="/static/images/back.png" alt="Back Button"></a>
        <div class="row buttons-row">
            <div class="col">

                <div class="flip-card-container position-relative">
                    <div class="flip-card-inner" id="flipCard">
                        <!-- Front -->
                        <div class="flip-card-front">
                            <img class="button_image" src="/static/images/new.png" alt="Sign Up Button" id="flipTrigger">
                        </div>
                        <!-- Back -->
                        <div class="flip-card-back d-flex justify-content-center align-items-center">
                            <form action="/signup" method="POST"> 
                                <h1> New Here? </h1>
                                Name:
                                <input type="text" name="name" maxlength="255" required> <br>
                                Username:
                                <input type="text" name="username" maxlength="15" required> <br>
                                Password:
                                <input type="password" name="password" required> <br>
                                Email:
                                <input type="email" name="email" required> <br>
                                Skill Level:
                                <select name="skill" id="skill">
                                    <option value="empty" selected disabled hidden>Choose Here</option>
                                    <option value="beginner">Beginner</option>
                                    <option value="intermediate">Intermediate</option>
                                    <option value="advanced">Advanced</option>
                                    <option value="any">N/A</option>
                                </select>
                                <br>
                                <input type="submit" value="Sign Up"> <br> <br> <br> <br>
                                <button type="button" id="flipBackTrigger">Flip me back!</button> 
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col">

                <div class="flip-card-container position-relative">
                    <div class="flip-card-inner" id="flipCard2">
                        <!-- Front -->
                        <div class="flip-card-front">
                           <img class="button_image" src="/static/images/old.png" alt="Sign In Button" id="flipTrigger2">                    
                        </div>
                        <!-- Back -->
                        <div class="flip-card-back d-flex justify-content-center align-items-center">
                            <form action="/login" method="POST"> 
                                <h1> Have an account? </h1>
                                Username:
                                <input type="text" name="username" maxlength="45" required> <br>
                                Password:
                                <input type="password" name="password" required> <br>
                                <input type="submit" value="Log In"> <br> <br> <br>
                                <button type="button" id="flipBackTrigger2">Flip me back!</button> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

