
{% extends "_layout2.html" %}
{% block content %}

<nav class="custom-shadow bg-nav py-3">
    <div class="container text-center">
        <h1 class="title-text">Bake|r</h1>
    </div>
    <div class="container">
        <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-black" href="/all">all recipes</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black" href="/accounts">login/signup</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black" href="/profiles">profile</a>
        </li>
        </ul>
    </div>
</nav>

<div class="row tintedbg>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 all-recipes-container">
                <a href="/all" class="btn btn-white custom-button">All Recipes</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="carousel"
  data-flickity='{ "wrapAround": true, "groupCells": 2 }'>
  {% for recipes in featured %}
    <div class="carousel-cell">
        <div class="card">
            <a href="{{ url_for('view') }}?id={{ recipes.id }}">
                <img class="card-img-top" src="{{ recipes['image'] }}" alt="Card image">
            </a>
            <div class="card-body">
                <h4 class="card-title">{{ recipes['name'] }}</h4>
                <p class="card-text"></p>
            </div>
        </div> 
    </div>
  {% endfor %}
</div>
<br>

{% endblock %}
