{% extends "_layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 class="text-center p-4"> {{ recipe['name'] }} </h1>
            <p class="text-center">Likes: {{ recipe.likes }}</p>
        </div>
        
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="{{ recipe['image'] or '/static/images/back.png' }}" class="img-fluid">
        </div>
    </div>
</div>

<div class="line">
    <p>_</p>
</div>

<div class="steps">
    <p>{{ recipe['steps'] | safe }}</p> 
{# the safe function allows raw html/tells jinja it is safe #}


{% if "role" in session %}
    {% if liked %}
        <td><form action="/recipe/un-like" method="POST">
                <input type="hidden" name="recipe_id" value="{{ recipe['id'] }}">
                <button type="submit" class="btn btn-danger">Liked</button>
            </form>
            <br>
        </td>
    {% else %}
        <td><form action="/recipe/like" method="POST">
                <input type="hidden" name="recipe_id" value="{{ recipe['id'] }}">
                <button type="submit" class="btn btn-outline-danger">Like</button>
            </form>
            <br>
        </td>
    {% endif %}
{% endif %}
</div>

{% endblock %}