{% extends "_layout.html" %}

{% block content %}

<table>
    <tr>
        <th>Username</th>
        <th>Delete</th>
        <th>Admin</th>
    </tr>
    {% for user in result %}
    <tr>
        <td>{{ user['username'] }}</td>
        <td>
            <a href="/delete?id={{ user['id'] }}"
                onclick="confirm('Are you sure?')">
                DELETE
            </a>
        </td>
        <td>
            {% if user['role'] == 'admin' %}
                <a href="/revoke?id={{ user['id'] }}">
                    Revoke admin permission
                </a>
            {% else %}
                <a href="/grant?id={{ user['id'] }}">
                    Grant admin permission
                </a>
            {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
