{% extends "_layout.html" %}
{% block content %}


<div class="main">
    <div class="bg-custom text-white full-height responsive">
    <nav class="navbar navbar-expand-sm bg-none navbar-dark">

        <!-- V-Ribbon effect for the logo -->
        <div class="v-ribbon">
            <a href="/"><img src="/static/b1.png" alt="Company Logo" class="logo"></a>
        </div>

        <div class="container-fluid justify-content-end">
        <ul class="navbar-nav">
            <!-- Navigation links -->
            <li class="nav-item">
            <a class="nav-link active disabled" href="index.html">Log In</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="reasons.html">Sign Up</a>
            </li>
        </ul>
        </div>
    </nav>
    </div>

    <video autoplay muted loop id="myVideo">
        <source src="/static/intro.mp4" type="video/mp4">
    </video>

    <div class="writing">
        <h1 class="fade-in-heading">
            <span class="f1">Inspired by taste,</span>
        </h1>
        <h1 class="cursor typewriter-animation">
            <span class="f2">Crafted</span><span class="f1"> with care</span>
        </h1>
    </div>
</div>

<div class="bottom">
    <h1>gdfgfdrgrfd</h1>
</div>


{% endblock %}
